{% extends '::base.html.twig' %}

{% block title %}Registrar{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>
    
    {% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
    {% endfor %}
    <form action="{{ path('alumno_registro') }}" method="post" {{
    form_enctype(formulario) }}>
    {{ form_widget(formulario) }}
    <input class="boton" type="submit" value="Registrarme" />
    </form>
{% endblock %}